.event-cell {
  max-width: 400px;
  margin: 10px;
  display: flex;
  ul {
    list-style-type: none;
  }
  .ant-card-head {
    border-bottom: 1px solid $brand-primary;
    min-width: 140px;
    border-radius: 2px 0 0 2px;
  }
  .ant-card-body{
    @include roboto-regular;
  }
  .card-footer {
    padding-top: 14px;
    border-top: 0.5px solid $light-text;
    margin-top: 5px;
  }

  .notes {
    color: $light-text;
    font-size: 0.9em;
  }
}
