.ant-card-head{
  background-color: $brand-primary;
}

#events-list {
  .no-results{
    margin-top: 50%;
  }
  .ant-card-head-title {
    color: $main-white;
  }

  .ant-list-items {
    padding: 0 10px;
  }

  .rsvp-button {
    padding-left: 20px;
    padding-right: 20px;
    background-color:  $main-white;
    @include montserrat-bold-all-caps;
  }
  .ant-card-head {
    background-color: $brand-primary;
  }

  .D {
    @include cell($brand-primary);
  }
  .R {
    @include cell($brand-secondary);
  }
}
