.main-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  .learn-more {
    position: absolute;
    right: 16px;
    text-align: center;
    z-index: 3000;
    transition: all 0.2s;
  }
  .learn-more.min{
    right: 16px;

  }
  .ant-affix {
    color: $dark-text;
    background: white;
    border-radius: 3px;
    padding: 5px;
    height: initial!important;
    width: initial!important;
    margin-right: 5px;
    right: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    a {
      padding: 5px;
    }
  }
  .header {
    padding: 85px;
    width: 100%;
    background: $brand-primary;
    text-align: center;
    h1 {
      // margin: 0;
      text-transform: uppercase;
      font-family: 'Oswald';
      color: white;
    }
  }
  h1 {
    margin-bottom: 20px;
    color: #1b2455;
  }
  .sub-title {
    color: $brand-primary;
  }
}
