$brand-primary: #1faaf1;

$brand-secondary: #d5432f;

$light-text: #8492a5;

$dark-text: #171c4b;

$main-light-blue: #6C9FC2;

$main-white: #ffffff;

$dark-green: #274A3D;

$dark-purple: #3E1A49;

$dark-orange: #DB8011;

/* Issue Colors */
$other: $dark-text;

$general: $main-light-blue;

$town-hall: #1faaf1;
/* Search bar & filter by color */
$search-border: $dark-text;

$filter-by-slider: $dark-text;

/* Groups */

$group-dot: $main-light-blue;

$group-info-box: $dark-text;

$group-header : $dark-text;

$contact-icons: $dark-text;

/* Events */

$event-rsvp: $main-white;
