$hbase:3em;
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        font-size:calc( #{$hbase} * ( 1 - (#{$i} * .2 ) );
      }
    }
}

@mixin montserrat-semi-bold{
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

@mixin montserrat-bold {
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}

@mixin roboto-regular {
  font-family: 'Roboto', sans-serif;
}

@mixin montserrat-bold-all-caps {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
